.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* http://angular-ui.github.io/bootstrap/#getting_started */

.date-picker-icon {
  width: 50px;
  float: right;
}

label.dept-time {
  margin-top: 40px;
}